<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Recently Added</h2>
    <div>
        <% books.forEach(book => { %>
        <img src="<%= book.coverImagePath %>" height="150" width="100">
        <% }) %>
    </div>
</html>